<section id="content">
    <main>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Touts les Condidate</h3>
                    <input type="text" class='bx bx-search' [(ngModel)]="filteredUsers" placeholder="Search"/>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Examen</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filterAllUsers">
                          
                            <td>
                                <a href="infoCondidate/{{user.id}}">
                                    {{user.userName}}
                                </a>
                            </td>
                            <td>{{user.date}}</td>
                            <td>{{user.payments}}</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>