<section id="content">
<main>

<ul class="box-info">
    <li>
      <i class='bx bxs-calendar-check' ></i>
      <span class="text">
        <h3>{{usersCountWithAppointment}}</h3>
        <p>Condidate Avec Rendez-vous</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
        <h3>{{usersCountWithOutAppointment}}</h3>
        <p>Condidate son Rendez-vous</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
        <h3>{{totalPayments}}DH</h3>
        <p>Total Payments</p>
      </span>
    </li>
  </ul>
</main>
</section>
