.main-container {
    display: flex;
  }
  .side-nav {
    width: 20%;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color:#fff;
    color: #000;
    box-shadow: 5px 5px 5px #939393;
  }
  /* @media only screen and (max-width: 1300px) {
    width: 100px;
    min-width: 100px;
  } */
  .main {
    width: 100%;
    padding: 30px;
  }